In [2]:
import pandas as pd

In [21]:
ILINET_DATA = pd.read_csv('data_files/illness/national_illness.csv')
print(ILINET_DATA.head())
print(ILINET_DATA.info())

                  date  % WEIGHTED ILI  %UNWEIGHTED ILI  AGE 0-4  AGE 5-24  \
0  2002-01-01 00:00:00         1.22262          1.16668      582       805
1  2002-01-08 00:00:00         1.33344          1.21650      683       872
2  2002-01-15 00:00:00         1.31929          1.13057      642       878
3  2002-01-22 00:00:00         1.49484          1.25246      728      1045
4  2002-01-29 00:00:00         1.47195          1.30237      823      1189

   ILITOTAL  NUM. OF PROVIDERS      OT
0      2060                754  176569
1      2267                785  186355
2      2176                831  192469
3      2599                863  207512
4      2907                909  223208
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               966 non-null    object
 1   % WEIGHTED ILI     966 non-null    float64
 2   %UNWEIGHTED ILI    966 non-null    float64
 3   AGE 0-4            966 non-null    int64
 4   AGE 5-24           966 non-null    int64
 5   ILITOTAL           966 non-null    int64
 6   NUM. OF PROVIDERS  966 non-null    int64
 7   OT                 966 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 60.5+ KB
None

In [11]:
ELECTRICITY_DATA = pd.read_csv('data_files/electricity/electricity.csv')
print(ELECTRICITY_DATA.info())
# print(ELECTRICITY_DATA.head())
print("Sum: ")
# filtered_df = 
print(ELECTRICITY_DATA[[str(i) for i in range(1, 320)]].sum(axis=1))
print("First row: ")
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(ELECTRICITY_DATA.iloc[0,1:])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Columns: 322 entries, date to OT
dtypes: float64(321), object(1)
memory usage: 64.6+ MB
None
Sum:
0        415309.0
1        447987.0
2        441577.0
3        422681.0
4        412078.0
           ...
26299    737254.0
26300    603998.0
26301    562816.0
26302    522571.0
26303    459395.0
Length: 26304, dtype: float64
First row:
0         14.0
1         69.0
2        234.0
3        415.0
4        215.0
5       1056.0
6         29.0
7        840.0
8        226.0
9        265.0
10       179.0
11       148.0
12       112.0
13       171.0
14       229.0
15      1001.0
16        49.0
17       162.0
18       594.0
19        88.0
20        34.0
21       885.0
22       122.0
23       102.0
24       425.0
25       185.0
26       360.0
27        83.0
28       449.0
29        37.0
30       408.0
31       346.0
32       521.0
33       177.0
34      4047.0
35       151.0
36       218.0
37       811.0
38       112.0
39        68.0
40      4131.0
41       784.0
42       184.0
43       167.0
44       325.0
45       278.0
46       224.0
47       158.0
48       127.0
49       512.0
50       502.0
51       126.0
52       407.0
53       293.0
54       137.0
55      3976.0
56       280.0
57       267.0
58       681.0
59       673.0
60       837.0
61       215.0
62       192.0
63       397.0
64       119.0
65       453.0
66       289.0
67       290.0
68       124.0
69       243.0
70       132.0
71        78.0
72       440.0
73       158.0
74       380.0
75       795.0
76       598.0
77      1834.0
78       436.0
79       405.0
80      1089.0
81        52.0
82       358.0
83         9.0
84        30.0
85        13.0
86        28.0
87       295.0
88       658.0
89       880.0
90        38.0
91       750.0
92      1768.0
93       747.0
94       602.0
95       167.0
96       528.0
97       333.0
98       522.0
99       191.0
100      439.0
101       27.0
102       69.0
103      455.0
104      403.0
105      385.0
106     1420.0
107      158.0
108       63.0
109      428.0
110      119.0
111      174.0
112     1454.0
113      612.0
114       20.0
115       51.0
116      504.0
117      252.0
118        0.0
119     7952.0
120     1013.0
121       78.0
122      106.0
123      221.0
124      417.0
125      103.0
126      424.0
127      263.0
128     2788.0
129       76.0
130      105.0
131     7367.0
132     1457.0
133     7097.0
134      816.0
135     2465.0
136      258.0
137       92.0
138      694.0
139      333.0
140      397.0
141      358.0
142      181.0
143      304.0
144      121.0
145      181.0
146        9.0
147       80.0
148      847.0
149      920.0
150     3404.0
151     1143.0
152      692.0
153     7006.0
154      902.0
155    35376.0
156      322.0
157      443.0
158     1071.0
159     1455.0
160      582.0
161      713.0
162      973.0
163     1934.0
164     1057.0
165      321.0
166     1423.0
167    14800.0
168     1111.0
169     1861.0
170      351.0
171      653.0
172     2992.0
173      771.0
174      692.0
175     4423.0
176      389.0
177     2624.0
178      781.0
179     5040.0
180      286.0
181     1690.0
182     1918.0
183      644.0
184     1221.0
185      589.0
186    11003.0
187     2236.0
188      222.0
189     1276.0
190      163.0
191      325.0
192      178.0
193     1634.0
194      358.0
195      185.0
196     1090.0
197      246.0
198      689.0
199     7162.0
200      430.0
201      267.0
202      301.0
203      455.0
204     1474.0
205      782.0
206      300.0
207      187.0
208      177.0
209      200.0
210      461.0
211      570.0
212      534.0
213      295.0
214      367.0
215      245.0
216      450.0
217      535.0
218      133.0
219      592.0
220      335.0
221      362.0
222      507.0
223      546.0
224      138.0
225      468.0
226     1906.0
227      127.0
228      358.0
229      332.0
230     1090.0
231      720.0
232      297.0
233     3859.0
234      220.0
235      170.0
236    29272.0
237      525.0
238      293.0
239      253.0
240      772.0
241      141.0
242      199.0
243      212.0
244      351.0
245      139.0
246     1156.0
247      228.0
248      218.0
249      197.0
250     1439.0
251      655.0
252      207.0
253      315.0
254     3021.0
255     1336.0
256      344.0
257      274.0
258      300.0
259      339.0
260      136.0
261      149.0
262     1359.0
263      479.0
264     1479.0
265      289.0
266      719.0
267      448.0
268     2907.0
269      222.0
270      653.0
271      981.0
272      363.0
273      203.0
274      209.0
275      213.0
276     3199.0
277      720.0
278      552.0
279      640.0
280     1062.0
281     2787.0
282      511.0
283      159.0
284      675.0
285      116.0
286       76.0
287      110.0
288      451.0
289      292.0
290     4770.0
291      123.0
292     1623.0
293      234.0
294      139.0
295      296.0
296     2412.0
297      317.0
298       16.0
299      164.0
300      241.0
301      575.0
302     1824.0
303       89.0
304      820.0
305       66.0
306      847.0
307       81.0
308     2002.0
309      937.0
310      199.0
311      676.0
312      372.0
313    80100.0
314     4719.0
315     5002.0
316       48.0
317       38.0
318     1558.0
319      182.0
OT      2162.0
Name: 0, dtype: object

In [17]:
ETTH1_DATA = pd.read_csv('data_files/ETT-small/ETTh1.csv')
print(ETTH1_DATA.head())
ETTH2_DATA = pd.read_csv('data_files/ETT-small/ETTh2.csv')
print(ETTH2_DATA.head())
ETTM1_DATA = pd.read_csv('data_files/ETT-small/ETTm1.csv')
print(ETTM1_DATA.head())
ETTM2_DATA = pd.read_csv('data_files/ETT-small/ETTm2.csv')
print(ETTM2_DATA.head())

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000
                  date       HUFL    HULL       MUFL   MULL   LUFL   LULL  \
0  2016-07-01 00:00:00  41.130001  12.481  36.535999  9.355  4.424  1.311
1  2016-07-01 01:00:00  37.528000  10.136  33.936001  7.532  4.435  1.215
2  2016-07-01 02:00:00  37.946999  11.309  35.330002  9.007  2.100  0.000
3  2016-07-01 03:00:00  38.952000  11.895  35.543999  9.436  3.380  1.215
4  2016-07-01 04:00:00  38.113998  11.476  35.410000  9.623  2.036  0.000

          OT
0  38.661999
1  37.124001
2  36.465000
3  33.608501
4  31.850500
                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 00:15:00  5.760  2.076  1.492  0.426  4.264  1.401  30.459999
2  2016-07-01 00:30:00  5.760  1.942  1.492  0.391  4.234  1.310  30.038000
3  2016-07-01 00:45:00  5.760  1.942  1.492  0.426  4.234  1.310  27.013000
4  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
                  date       HUFL    HULL       MUFL   MULL   LUFL   LULL  \
0  2016-07-01 00:00:00  41.130001  12.481  36.535999  9.355  4.424  1.311
1  2016-07-01 00:15:00  39.622002  11.309  35.543999  8.551  3.209  1.258
2  2016-07-01 00:30:00  38.868000  10.555  34.365002  7.586  4.435  1.258
3  2016-07-01 00:45:00  35.518002   9.214  32.569000  8.712  4.435  1.215
4  2016-07-01 01:00:00  37.528000  10.136  33.936001  7.532  4.435  1.215

          OT
0  38.661999
1  38.223000
2  37.344002
3  37.124001
4  37.124001

In [18]:
WEATHER_DATA = pd.read_csv('data_files/weather/weather.csv')
print(WEATHER_DATA.head())

                  date  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  2020-01-01 00:10:00   1008.89      0.71    273.18        -1.33    86.1
1  2020-01-01 00:20:00   1008.76      0.75    273.22        -1.44    85.2
2  2020-01-01 00:30:00   1008.66      0.73    273.21        -1.48    85.1
3  2020-01-01 00:40:00   1008.64      0.37    272.86        -1.64    86.3
4  2020-01-01 00:50:00   1008.61      0.33    272.82        -1.50    87.4

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  ...  wv (m/s)  \
0          6.43          5.54          0.89       3.42  ...      1.02
1          6.45          5.49          0.95       3.39  ...      0.43
2          6.44          5.48          0.96       3.39  ...      0.61
3          6.27          5.41          0.86       3.35  ...      1.11
4          6.26          5.47          0.79       3.38  ...      0.49

   max. wv (m/s)  wd (deg)  rain (mm)  raining (s)  SWDR (W/m�)  \
0           1.60     224.3        0.0          0.0          0.0
1           0.84     206.8        0.0          0.0          0.0
2           1.48     197.1        0.0          0.0          0.0
3           1.48     206.4        0.0          0.0          0.0
4           1.40     209.6        0.0          0.0          0.0

   PAR (�mol/m�/s)  max. PAR (�mol/m�/s)  Tlog (degC)     OT
0              0.0                   0.0        11.45  428.1
1              0.0                   0.0        11.51  428.0
2              0.0                   0.0        11.60  427.6
3              0.0                   0.0        11.70  430.0
4              0.0                   0.0        11.81  432.2

[5 rows x 22 columns]

In [19]:
TRAFFIC_DATA = pd.read_csv('data_files/traffic/traffic.csv')
print(TRAFFIC_DATA.head())

                  date       0       1       2       3       4       5  \
0  2016-07-01 02:00:00  0.0048  0.0146  0.0289  0.0142  0.0064  0.0232
1  2016-07-01 03:00:00  0.0072  0.0148  0.0350  0.0174  0.0084  0.0240
2  2016-07-01 04:00:00  0.0040  0.0101  0.0267  0.0124  0.0049  0.0170
3  2016-07-01 05:00:00  0.0039  0.0060  0.0218  0.0090  0.0029  0.0118
4  2016-07-01 06:00:00  0.0042  0.0055  0.0191  0.0082  0.0024  0.0095

        6       7       8  ...     852     853     854     855     856  \
0  0.0162  0.0242  0.0341  ...  0.0051  0.0051  0.0074  0.0079  0.0051
1  0.0201  0.0338  0.0434  ...  0.0036  0.0036  0.0107  0.0058  0.0036
2  0.0127  0.0255  0.0332  ...  0.0030  0.0030  0.0043  0.0050  0.0030
3  0.0088  0.0163  0.0211  ...  0.0033  0.0033  0.0019  0.0052  0.0033
4  0.0064  0.0087  0.0144  ...  0.0049  0.0049  0.0011  0.0071  0.0049

      857     858     859     860      OT
0  0.0051  0.0339  0.0051  0.0100  0.0121
1  0.0036  0.0348  0.0036  0.0087  0.0136
2  0.0030  0.0327  0.0030  0.0061  0.0107
3  0.0033  0.0292  0.0033  0.0040  0.0071
4  0.0049  0.0264  0.0049  0.0040  0.0039

[5 rows x 863 columns]